#wrap {
}
#wrap header{
    position:fixed;
    background-color:#fff;
    padding:7px 50px;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
    height:74px;
    z-index:999;
    top:47px;

}
#wrap header h1 {
    font-size: 1.063rem;
}
#wrap nav {
    /* background-color:blue; */
}
#wrap nav .gnb {
    display:flex;
    flex-flow:row nowrap;
    width:601px;
    justify-content: space-between;
   
}
#wrap nav .gnb li {}
#wrap nav .gnb li a {}
