* {box-sizing: border-box;}
body{min-width:1280px;}
#wrap {
    max-width: 1920px;
    margin:0 auto;
}

.top_banner {
    text-align: center;
    background-color:#BEE0EA;
    padding:15px 10px;
    position:fixed;
    z-index:999;
    height:47px;
    top:0;
    left:0;
    width:100%;
}
.top_banner p {
    font-size:0.875rem;
    
}
#wrap {}
#wrap header {
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    background-color:#fff;
    position: fixed;
    z-index: 999;
    top: 47px;
    justify-content: space-between;
    align-items: center;  /* 글자 가운데로 */
    padding:7px 50px;
    
}
#wrap header h1 { }
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap nav .gnb {
    display:flex;
    flex-flow:row nowrap; 
    gap:50px;
    /*  background-color:red; */
    /* line-height:74px;
    height:74px;
    */
    
}
/* #wrap nav .gnb > li {
    position:relative;
} */
#wrap nav .gnb > li > a {
    font-size: 1.063rem;
     position:relative;
    display: inline-block;
    padding-bottom: 4px;
}
/* #wrap nav .gnb li a:hover{
    border-bottom: 1px solid #57C2E2;
    color:#57C2E2;
} */
#wrap nav .gnb > li> a::after {
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:2px;
    background-color:#BEE0EA;
    transition : all 0.4s ease;
    border-radius: 20px;
}
#wrap nav .gnb> li> a:hover::after {
    width:100%;
}
#wrap header .right_menu {
    display:flex;
    align-items: center;
    gap:20px;
    
    
}
#wrap header .right_menu li a {}


/* 서브메뉴================================ */
/* #wrap header {position: relative;} */
/* #wrap header .gnb > li {position: relative;} */
#wrap header nav .gnb > li:hover > .lnb_bg {display:block;}
#wrap header nav .gnb > li .lnb_bg {
   
    background-color: #fff;
    position:absolute;
    height:max-content;
    top: 60px;
    left:0;
    width:100%; 
    padding:20px 50px;
    /* 초기 숨기기(마우스 올릴때만 보이도록) */
    display:none;
    border: 2px solid red;
    border-top:1px solid  rgba(0, 0, 0, 0.2);
}
/* #wrap header nav .gnb > li .lnb_bg:hover {display:block;} */
.lnb_container {
    display: flex; max-width: 1920px;
}
.lnb_bg .lnb_depth1 {
    display: flex;
    gap:50px;
    justify-content: center;

}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 {
    /* background-color:yellow; */
    width:max-content;/* 내용에 최대 크기에 맞추겠다. */
    margin:0 auto;
    display:flex; text-align:center;
    flex-flow:row nowrap;/* 줄바꿈없이 정렬 */
}

/* 1행 */
.main_banner {
    width:100%;
    margin:0 auto;
    position:relative; /* 기준점점 */
    
/* * {
    box-sizing: border-box;
} */
}
main .banner_wrap {
    
    width:100%;
    margin:0 auto;
 /*    max-width: 1920px; */
    
}
main .main_banner .banner_wrap {/* background-color:aqua; */}
main .main_banner .banner_wrap .banner_slides {display:block;}
main .main_banner .banner_wrap .banner_slides img {
    width:100%;
    display:block;
    margin: 0 auto;
    z-index:20;

}
main .main_banner .banner_btn {
    
    z-index:30;
    position:absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:0 30px;
}
main .main_banner .banner_btn #banner_prev{}
main .main_banner .banner_btn #banner_next {
    transform: scaleX(-1);/* 버튼 좌우반전 */
}

/*------------------------------------------------------- 2행  */

#wrap main .best_items {
    max-width:100%;
    padding:0 50px;
    padding-top:131px;
   /*  border:2px solid red; */
    width:1920px;

}

#wrap main .best_items .items_inner {
    display: flex;
    width:100%;
    position: relative;
    padding-bottom: 60px;
       /*  position: relative; */
}
#wrap main .best_items .items_inner .items_wrap {
   /*  display:flex; */
    /* flex-direction:column;
    flex-wrap:nowrap; */
    white-space: nowrap;
   /*  background-color: aqua; */
    margin-right:198px;
}
#wrap main .best_items .items_inner .items_wrap  h2 {
    margin-bottom: 50px;
    font-size:2.313rem;
    font-weight:600;

}
#wrap main .best_items .items_inner .items_wrap .best_category  {}
#wrap main .best_items .items_inner .items_wrap .best_category .category_list  {
    flex-direction: column;
    display:flex;
}
#wrap main .best_items .items_inner .items_wrap .best_category .category_list button {
    margin-bottom: 20px;
    font-size:1.5rem ;
    font-weight: 500;
    color:#949494;
    display:block;
    text-align:left;
}
#wrap main .best_items .items_inner .items_wrap .best_category .category_list button:hover {
    color:#70B3CE;
    border-bottom: 1px solid #70B3CE;
}
#wrap main .best_items .items_inner .items_wrap .best_category .category_list .active button {
    color:#70B3CE;
    font-weight:800;
    border-bottom: 1px solid #70B3CE;
}
#wrap main .best_items .items_inner #best_items_wrap {

    /* border: 1px solid blue; */
    
}

#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper {
    display: flex;
    /* gap:20px; */
    /* border: 3px solid blue; */

}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-slide {
    /* flex:0 0 auto; */
    /* border: 1px solid green; */
    display:block;
    flex-direction: column;
    justify-content: space-between;
    width:340px;

}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-wrapper:nth-last-child{

}
main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-slide .product_img /*  a img */ {
    /* border: 1px solid red; */
    max-width:100%;
    position:relative;
    text-align: right;
    display:inline-block;
}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-slide .product_img a img {
    max-width:100%;
    /* position:relative; */
    /* border: 1px solid violet; */
    display:block;
    height:auto;
    transition:all 0.7 ease;
    width:250px;
}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-slide .product_img a img:hover {
    filter:brightness(1.01);
    transform:scale(1.04);
}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .slide4 .product_img a img:hover,
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .slide5 .product_img a img:hover,
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .slide6 .product_img a img:hover{
    filter:brightness(1.04);
    transform:scale(1.04);
}
main .best_items .items_inner #best_items_wrap .swiper-wrapper .swiper-slide .product_img .cart_btn img{
    display: inline-block;
    /* border: 1px solid violet; */
    position:absolute;
    bottom:10%;
    right:7%;
    width:15%;
    height:auto;
    /* border:solid 3px #AA3434; */
}
#wrap main .best_items .product_name .name {
    font-weight: 600;
    font-weight:1.063rem;
}
#wrap main .best_items .items_inner #best_items_wrap .swiper-wrapper .product_txt > *{
    padding-bottom:10px;
    max-width:100%;
    padding:10px;
}
#wrap main .best_items .product_name .label {
    font-size:1.25rem;
    color:#AA3434;
    font-weight: 600;
    margin-right:5px;
}
#wrap main .best_items .original_price del {
    font-size:1.063rem;
    color:#4B3A34;
    opacity: 60%;
    font-weight:500;
}
#wrap main .best_items .product_txt .price .discounted {
    font-weight:600;
}
#wrap main .best_items .product_txt .price > * {margin-right:10px;}
#wrap main .best_items .product_txt .price .discount_rate {
    font-weight:600;
    font-size: 0.875rem;
    background-color:#4B3A34;
    padding:3px 7px;
    gap:10px;
    color:#fff;
    border-radius: 5px;
}
#wrap main .best_items .product_txt .tag >*{
    color:#626262;
    font-weight:500;
    font-size:0.938rem;
}
#wrap main .best_items .product_txt .tag span:nth-child(1){
    margin-right:15px;
}
/* 2행 스크롤바바 */
#wrap main #best_items_wrap.swiper-scrollbar{
    
    height:3px;
    bottom:-60px;
    margin-top:116px;
    margin-bottom:-60px;
    border:1px solid #ddd;
   /*  position:absolute; */
    display:block;
    width:100%;
    
}
/* #wrap main #best_items_wrap  */.swiper-scrollbar-drag {
    background:#BEE0EA !important;
    border-radius: 1px;
    height:100%;

    
}
.view_btn_wrap{
    text-align: center;
    margin-top:60px; /* 임시값 */
    padding-bottom:131px;
    
}    
.view_btn_wrap > .view_btn{
    width:126px;
    background-color:#F8F8F8;
    padding:10px;
    
}
.view_btn_wrap .view_btn:hover{
    color:#57C2E2;
    background-color: #4B3A34;
    border-radius: 10px;

    
}
.view_btn_wrap .view_btn:hover span {
    color:#57C2E2;
    transition: color 0.4s ease;
}

.view_btn_wrap .view_btn span{
    font-size:1.063rem ;
    font-weight:500;
}

.view_btn_wrap .view_btn span:nth-child(1) {
    margin-right:10px;
}
.view_btn_wrap .view_btn span:nth-child(2) {
    color:#1C1B1F;
    opacity:80%;
}
/* 3행 -------------------------------------- */
.add_banner{
    position:relative;
   /*  padding-top:131px; */
    max-width:100%;
  /*   border:3px solid red; */
    
    /*     border: #70B3CE 3px solid; */
}
.add_banner .add .swiper-wrapper {}
.add_banner .add .swiper-wrapper .swiper-slide {}
.add_banner .add .swiper-wrapper .swiper-slide .add_banner {
    position:relative;
    
}
.add_banner .add .swiper-wrapper .swiper-slide  a {height:857px;}
/* .add .swiper-wrapper .swiper-slide * .add_banner a img {
    width:100%; display:block;
    border:blue solid 3px;
    
} */
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap {
    position:absolute;
    top:150px;
    left:270px;
    z-index: 2;
   /*  width:100%; */
    
}
.add_banner .add .swiper-wrapper .swiper-slide {
    
}
.add_banner .add .swiper-wrapper .swiper-slide  > a img {
    max-width:100%;
    
    /* border:blue solid 3px; */
    height:auto;
    display:block;
} /* 이거 주면 화살표도 개커짐 */
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .item_list a:hover img {
   /*  border: 3px solid red; */
   /*  box-shadow: 0 0 7px 8px rgba(255, 255, 255, 0.1); */
    /* margin-bottom:10px; */
}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .item_list li{
    transition: all 0.2s ease;
}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .item_list li:hover {
    transform: scale(1.035);
    transform: translateY(-20px);
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info{}
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .product_name{}
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .product_name{}
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .product_name span {
    background-color: #fff;
    font-size:1.375rem;
    padding:0 10px;
    line-height:1.3;
    transition: 0.3s ease;
}
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .product_name span:hover{
   
    
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_name h3 {
    font-size: 2.313rem;
    font-weight:600;
    color:#fff;
    margin-top:13px;
    line-height:130%;
    margin-bottom:27px;
    transition: 0.3s ease;
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_name h3:hover{
    color:#000;
    text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(217, 171, 255);
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_txt p {
    color:#fff;
    line-height:1.5;
    
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_txt p:hover {
    color:#fff;
    text-shadow:
    0 0 4px #fff,
    0 0 10px rgb(118, 2, 153);
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_txt p:nth-child(1) {
    margin-bottom: 20px;
    font-size: 1.063rem;
}

.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .product_txt p:nth-child(2) {
    color:#A6A6A6;
    font-size:0.875rem;
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .new_txt {
    padding-top: 10px;

}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .new_txt span{
    color:#000;
    -webkit-text-stroke: 1px #fff;
    font-weight:900;
    font-size:1.688rem;
   
}
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .item_list{
    display: flex;
    flex-flow: wrap;
    padding-bottom:40px;
    
}  
.add_banner .add .swiper-wrapper .swiper-slide  .left_wrap .product_info .new_txt span{
    color:#000;
    -webkit-text-stroke: 1px #fff;
    font-weight:900;
    font-size:1.688rem;
   /*  margin-bottom:10px; */
    
}  
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info  .item_list li{
    padding-right: 7px;
    /* border:#626262 solid 3px; */
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info  .item_list li a{}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info  .item_list li img {}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .item_list_wrap .item_list li  p {
    color:#fff;
    font-weight: 500;
    /* line-height: 1; */
    font-size: 0.75rem;
    /* border: 3px solid red; */
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .view_more a {
    display:flex;
    align-items: center;
    /* border:3px solid red; */
   /*  width:max-content; */
    gap:5px;
    transform: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .view_more:hover a {
    transform: translateY(-5px);
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info  .view_more a span{
    color:#fff;
    
}

.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .view_more > a img{
    width:24px;
    display:inline;
  /*   border:3px solid red; */
    height: auto;
}
.add_banner .add .swiper-wrapper .swiper-slide .left_wrap .product_info .view_more a span{}
.add_banner .add .swiper-wrapper .swiper-slide .swiper-scrollbar_2 {}


.add_banner .add .swiper-wrapper .swiper-slide .swiper-scrollbar_2 .swiper-scrollbar-drag{
    background: #fff;
    height:100%;
    min-width:25%;
}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap {
    padding-top:50px;
}

.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap  a {
    
}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap  a p {}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .view_more {}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .view_more a {}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .view_more a span {}
.add_banner .add .swiper-wrapper .swiper-slide .item_list_wrap .view_more a img {}

/* 스크롤바 */
/* .swiper-scrollbar_3{
    
    height:3px;
    bottom:-60px;
    margin-top:116px;
    margin-bottom:-60px;
    border:2px solid #ddd;
    
    display:block;
    width:100%;
     */
}
.swiper-scrollbar_3 .swiper-scrollbar-drag{
    background:#99a8ad !important;
    border-radius: 2px ;
    height:100%;

    
}

/* 4행 ----------------------------------------- */
.new_product_wrap_all {
  /*   padding:0 50px; */
    /* padding-top:131px; */
    /* padding:0 50px; */
    /* border:3px violet solid; */
    padding:0 105px; 
    max-width:1920px;
    
}
.new_product_wrap_all h1 {
    font-size:2rem;
    font-weight:800;
    margin-bottom:18px;
    padding-top:131px;
    margin-bottom:10px;
}
.new_product_wrap_all > p {
    margin-bottom: 67px;
}
.new_product_wrap_all .new_product_wrap {
    width:100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    }
.new_product_wrap_all .new_product_wrap .new_product {
    position:relative;
    /* border:3px green solid; */
    transition: all 0.3s ease;
}
.new_product_wrap_all .new_product_wrap .new_product:hover{
    transform: scale(1.05);
}
.new_product_wrap_all .new_product_wrap .new_product .text_box .text-row{
    display: flex;
   /*  border:3px green solid; */
    align-items: center;
    justify-content: space-between;
    /* width:100%; */
}
.new_product_wrap_all .new_product_wrap .new_product:nth-child(3) .text_box .text-row{
    text-align: right;
    display:block; /*  마지막 파우더 4종 비교 플렉스 깨버리기 */
}
.new_product_wrap_all .new_product_wrap .new_product:nth-child(3) .text_box{
    text-align: right;
    right:0px;
    bottom:0px;
    

}
.new_product_wrap_all .new_product_wrap .new_product > img {
    width:100%;
}
.new_product_wrap_all .new_product_wrap .new_product .text_box {
    position:absolute; left:0px; bottom:0px;
   /*  border: #70B3CE 3px solid; */
    width:100%;
    padding:25px 37px;
    /* padding-bottom: 18px; */

    
   /*  border:3px blue solid; */
}
.new_product_wrap_all .new_product_wrap .new_product .text_box h3 {
   /*  margin-bottom:18px; */
    font-weight:600;
    font-size:1.688rem;
    width:100%;
    line-height: 1.5;
    margin-bottom: 18px;
}
.new_product_wrap_all .new_product_wrap .new_product:nth-child(2) .text_box h3{
    line-height:1.5;
}
.new_product_wrap_all .new_product_wrap .new_product:nth-child(3) .text_box h3{
    line-height:1.5;
}
.new_product_wrap_all .new_product_wrap .new_product .text_box h3 >* {}
.new_product_wrap_all .new_product_wrap .new_product .text_box h3 .big_title{
    font-size:1.875rem ;
    font-weight:600;
    /* line-height: normal; */
}
.new_product_wrap_all .new_product_wrap .new_product .text_box h3 .small_title{
    font-size:1.688rem;
    font-weight:600;
}

.new_product_wrap_all .new_product_wrap .new_product .text_box .text-row {
    /* padding:25px 37px; */
    /* border:3px red solid; */
    display: flex;
    align-items: center;
    

}
.new_product_wrap_all .new_product_wrap .new_product .text-row > * {
    color:#727272;
    font-size: 0.938rem;
}
.new_product_wrap_all .new_product_wrap .new_product:nth-child(3) .text-row .view_more_btn{
   /*  border:3px blue solid; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    /* text-align: right; */
}
.new_product_wrap_all .new_product_wrap .new_product .text-row .view_more_btn {
    display: flex;
    align-items: center;
    gap:10px;
}
/* 흰색 글자 */
.new_product_wrap_all .new_product_wrap .white-text .text_box >* {
    color:white;
    /* border:3px red solid; */
}
.new_product_wrap_all .new_product_wrap .white-text .text_box p {
    color:#fff;
}
.new_product_wrap_all .new_product_wrap .white-text .text_box .view_more_btn {
    color:#fff;
    
}
/* 5행 -------------------------- */
#wrap main .makeup_lookb {
    position:relative;
    padding-top:131px;
    display: flex;
   /*  background: aqua; */
}
#wrap main .makeup_lookb .img_wrap { 
    position:relative;
    /* width:1710px; */
    width:100%;
    margin:0 auto;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap {
    position:absolute;
    left:282px;
   /*  bottom:0; */
    top:0px;
    /* border:3px solid red; */
    padding:70px 30px;
   /*  background: yellow; */
 
    margin-top: 70px;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap > img {
    width:100%;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap h2 {
    font-size: 2.313rem;
    color:#6E0E0E;
    font-weight:800;
    margin-bottom:35px;
    line-height:1.3;
    /* margin-top:70px; */
    /* border: 3px blue solid; */
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_txt {
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 39px;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_txt p {
    line-height: 1.5;
    color:#9C9C9C;
    
    
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_txt h3 {
    color:#434343;
    line-height: 1.5;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap {
    width:100%;
    /* border:3px solid red; */
    display:flex;
    gap:29px;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap .lookb_product {
    display:flex;
    transition: all 0.3s ease;
    
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap .lookb_product:hover{
    transform: scale(1.04);
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap .lookb_product a {
    gap:11px;
    display: grid;
 
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap .lookb_product a img {}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_product_wrap .lookb_product a p {
    text-align:center;
    color:#6E0E0E;
    font-size: 0.875rem;
    font-weight:500;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap  .lookb_view_more{
    display:flex;
    margin-top:41px;
 /*    background: green; */
    background-color:#f8f8f8;
    width:max-content;
    background-color:rgba(248, 248, 248, 0.4);
    
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap  .lookb_view_more a {
    padding:4px 10px;
    margin-right:5px;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap .lookb_view_more a span {
    display:inline-flex;
    align-items:center;
    font-weight:0.875rem;
    font-weight:500;
}
#wrap main .makeup_lookb .img_wrap .lookb_wrap  .lookb_view_more a span img {}
#wrap main .makeup_lookb .lookb_btn {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:10;
    padding: 0 105px;
    display: flex;
    justify-content:space-between;
    width:100%;
    
} 
#wrap main .makeup_lookb .lookb_btn #lookb_next {
    transform: scaleX(-1);/* 버튼 좌우반전 */
}
/* 6행 ----------------------------------- */
#wrap main .must_read_wrap {
    width:100%;
  /*   border: 3px solid red; */
    padding:0;
    display: flex;
    gap:41px;
    flex-direction: column;
    padding-top:131px;
    
}
#wrap main .must_read_wrap .must_read_card {
    display: flex;
    width:max-content;
    max-width:1317px;
    margin:0 auto;
    width:100%;
    align-items: center;
    height:100%;
    justify-content: space-between;
    gap:52px;
    
}
#wrap main .must_read_wrap .must_read_title {text-align:center;}
#wrap main .must_read_wrap .must_read_title h2 {
    font-size:2rem;
    font-weight:800;
    margin-bottom: 10px;
}
#wrap main .must_read_wrap .must_read_title p {
    font-size:1.375rem;
    line-height:1;
    color:#727272;
}
#wrap main .must_read_wrap .must_read_card {
    display: flex;
    gap:40px;
    /* border:3px solid blue; */
    /* display: flex; */
    
    
}
#wrap main .must_read_wrap .must_read_card > a img {
   /*  padding-right:52px; */
    width:580px;
    height:400px;
  /*   border:red solid 3px; */
    transition:all 0.2s ease ;

}
#wrap main .must_read_wrap .must_read_card > a img:hover {
    transform: scale(1.02);
}
#wrap main .must_read_wrap .must_read_card .right_txt {
    width:100%;
    max-width: 685px;
    /* height: 432px; */
    padding:50px 40px;
    /* background: yellow; */
    /* margin-right:52px; */
    flex-direction: column;
    line-height:1.6;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    

}
#wrap main .must_read_wrap .must_read_card .right_txt h3 {
   /*  border:3px solid red; */
    margin-bottom: 32px;
    font-weight:600;
    line-height:1.5;
    font-size: 1.313rem;


}
#wrap main .must_read_wrap .must_read_card .right_txt p {
    margin-bottom:130px;
    line-height: 1.6;
    color:#616060;
    font-weight:500;
    font-size:

}
#wrap main .must_read_wrap .must_read_card .right_txt .must_read_btn {
    /* text-align: right; */
    background-color: #4B3A34;
    max-width: max-content;
    padding:7px 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: flex-end;
    transition: all 0.1s ease;
}
#wrap main .must_read_wrap .must_read_card .right_txt .must_read_btn:hover {
    transform: scale(1.04);
}
#wrap main .must_read_wrap .must_read_card .right_txt .must_read_btn span {
    color:#BEE0EA;
    font-size:0.938rem ;
    font-weight: 500;
    
    
}
#wrap main .must_read_wrap .must_read_card .right_txt .must_read_btn span img {}
/* 7행 ------------------------------------------------------*/
#wrap main .popup_wrap {
    text-align:center;
    padding-top:131px;
    
}
#wrap main .popup_wrap h2 {
    font-weight: 800;
    font-size:2rem;
    margin-bottom:10px;
}
#wrap main .popup_wrap p {
    font-size:1.375rem;
    color:#727272;
    margin-bottom:66px;
    line-height: 1.5;
}
#wrap main .popup_wrap .image_container {
    position:relative;
}
#wrap main .popup_wrap .image_container .overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    pointer-events: none;
}
#wrap main .popup_wrap .image_container .overlay,#wrap main .popup_wrap .image_container .popup_txt{
    transition: opacity 4s ease;
}

#wrap main .popup_wrap .image_container:hover .overlay {
    opacity: 0;
}
#wrap main .popup_wrap .image_container:hover .popup_txt{
    opacity:0;
}
#wrap main .popup_wrap .image_container .popup_txt {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    font-size:1.75rem;
    border:1px solid #dcc6ff ;
    /* linear-gradient(#A4FFFF, #F7CFFF,#fff); */
    padding:10px 20px;
    display:inline-block;

}
#wrap main .popup_wrap .image_container .popup_txt a {
    background:linear-gradient(45deg, #A4FFFF, #F7CFFF,#fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:800;
    font-size: 1.75rem;
    
    
}
/* 8행---------------------------- */
#wrap main .brand_movie {
    padding-top:131px;
    
}
#wrap main .brand_movie .container {
    max-width:1250px; min-width:320px;
    text-align:center;
    margin:0 auto;
}
#wrap main .brand_movie .container iframe {
    max-width: 1650px; width:100%;
    height:800px;
}
#wrap main .brand_movie h2 {
    font-weight: 800;
    font-size:2rem;
    margin-bottom:10px;
}
#wrap main .brand_movie p {
    font-size:1.375rem;
    color:#727272;
    margin-bottom:66px;
    line-height: 1.5;
}

/* footer================================= */
.footer_wrap {
    display: flex;
    width:100%;
    background-color:#4B3A34;
    padding:40px 50px;
    margin-top:205px;
}
.footer_wrap .left_wrap {
    margin-right:165px;
}
.footer_wrap .left_wrap img {}
.footer_wrap .left_wrap img a {}
.footer_wrap .left_wrap .sns_wrap {
    display: flex;
    gap:26px;
    margin-bottom:20px;
}
.footer_wrap .left_wrap .sns_wrap a {}
.footer_wrap .left_wrap .sns_wrap a img {}
.footer_wrap .left_wrap .left_txt {
    display:flex;
    gap:30px;
    margin-bottom:20px;
    font-size: 0.875rem;
}
.footer_wrap .left_wrap .left_txt a {
    color:#BEE0EA;
}
.footer_wrap .Inquiry {
    color:#BEE0EA;
}
.footer_wrap .midddle_wrap {
    display: grid;
    gap:30px;
    margin-right:410px;
}
.footer_wrap .midddle_wrap p {
    color:#BEE0EA;
    font-size: 0.875rem;
}
.footer_wrap .right_wrap {
    display:inline-block;
    
    

}
.footer_wrap .right_wrap p {
    color:#BEE0EA;
    font-size: 0.875rem;
    margin-bottom:20px;
}